<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
    </span>
    <b> Visitors Statistics </b>
  </h2>

  <div style="text-align: center; margin-top: 10px;">
    <p style="margin-bottom: 20px;">
      This interactive map shows where visitors to my page are from, confounded by places I've lived.
    </p>
    <div style="display: flex; justify-content: center;">
      <div style="width: 300px; overflow: hidden;">
        <script type="text/javascript" id="clustrmaps"
          src="//cdn.clustrmaps.com/map_v2.js?cl=dddddd&w=a&t=m&d=Vmc1KWH22HbpZoDj-QsdY3-OUvoA7JkR60mPQFTnEuM&co=ffffff&cmo=7e84ff&cmn=ffd54b&ct=989898">
        </script>
      </div>
    </div>
  </div>
</section>
