<section class="section experiences-section">
  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-globe fa-stack-1x fa-inverse"></i>
    </span>
    <b> Visitors Statistics </b>
  </h2>

  <div style="text-align: center; margin-top: 10px;">
    <p style="margin-bottom: 20px;">
      This interactive map shows where visitors to my page are from, confounded by places I've lived.
    </p>
    <div style="display: flex; justify-content: center;">
      <div style="max-width: 100%; overflow: hidden;">
        <script type='text/javascript' id='mapmyvisitors' src='https://mapmyvisitors.com/map.js?cl=efefef&w=300&t=m&d=37uR6DumjatP8fn8N3cu3_P9Kw3xsoiUDCZMq0uH2ww&co=ffffff&cmo=d3c0ff&cmn=feab33&ct=808080'></script>    </div>
  </div>
</section>
